<div class="team_master_div">
  <div name="teamPosition" class="title">
    <h1>Team</h1>
  </div>
  <mat-grid-list cols="4" rowHeight="350px">
    <mat-grid-tile>
      <a><img src="../../../assets/diego.jpeg" /></a>
    </mat-grid-tile>

    <mat-grid-tile>
      <a><img src="../../../assets/juan.jpeg" /></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a><img src="../../../assets/mauri.jpeg" /></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a><img src="../../../assets/fico.jpeg" /></a>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile class="profileInfo">
      <h2>
        <p>
          Developer <br />
          Cofounder <br />
          Diegownn
        </p>
      </h2>
    </mat-grid-tile>
    <mat-grid-tile>
      <h2>
        <p>
          Developer <br />
          Co-founder <br />
          Depi
        </p>
      </h2>
    </mat-grid-tile>
    <mat-grid-tile>
      <h2>
        <p>
          Designer <br />
          Mauri
        </p>
      </h2>
    </mat-grid-tile>
    <mat-grid-tile>
      <h2>
        <p>
          Community Manager <br />
          Fico
        </p>
      </h2>
    </mat-grid-tile>
  </mat-grid-list>
</div>
