.team_master_container {
  margin-top: 200px;
}

.mat-grid-tile a {
  max-width: 100%;
  max-height: 100%;
}

.mat-grid-tile a img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 43px -26px #e9d885;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transition: transform 0.3s, filter 0.3s;
}

.mat-grid-tile a .team_card:hover {
  transform: scale(1.05);
  transition: transform 0.3s, filter 0.3s;
  filter: brightness(1.79) contrast(0.94) hue-rotate(10deg) saturate(1.39);
  cursor:pointer;
}

.mat-grid-list .underPic_container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  width:214px;
}

.titles_container{  
  height:114px;
}

.profileInfo{
  height: 180px !important;
}

.profileInfo .insta_container {
  display: flex;
  align-items: center;

  float:right;
  justify-content:flex-end;
  padding-right:12px;
}

.team_master_container p {
  text-shadow: none !important;
  font-family: "Cinzel Decorative", display;
  font-size: 22px;
  text-align: center;
}

.team_master_container a .insta {
  height: 40px;
  width: 40px;
  filter: brightness(100) saturate(100) !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  transition: box-shadow 0.3s ease-in-out;
}

.team_master_container a .insta:hover {
  height: 40px;
  width: 40px;
  filter: brightness(100) saturate(100) !important;
  box-shadow: 0px 4px 28px -2px #ffd500 !important;
  transition: box-shadow 0.3s ease-in-out;
  cursor:pointer;
}

.team_master_container a .twitter {
  height: 40px;
  width: 40px;
  background-color: white; 
  border-style:solid;
  border-width: 1px !important;
  border-color: white;
  transition: box-shadow 0.3s ease-in-out;
}

.team_master_container a .twitter:hover {
  height: 40px;
  width: 40px;
  box-shadow: 0px 4px 28px -2px #ffd500 !important;
  transition: box-shadow 0.3s ease-in-out;
  cursor:pointer;
}


.social_container {
  width: 100%;
  float: left;
  display: flex;
}

.insta_container {
  width: 50%;
}
.twitter_container {
  width: 50%;
}

.titles_container {
  width: 100%;
}
