<h1>Team</h1>
<mat-grid-list cols="4" rowHeight="350px">
    <mat-grid-tile>
        <a><img src="../../../assets/zeus.jpg" /></a>
    </mat-grid-tile>

    <mat-grid-tile>
        <a><img src="../../../assets/Poseidon.jpg" /></a>

    </mat-grid-tile>
    <mat-grid-tile>
        <a><img src="../../../assets/Apolo.jpg" /></a>

    </mat-grid-tile>
    <mat-grid-tile>
        <a><img src="../../../assets/aquiles.jpg" /></a>

    </mat-grid-tile>

</mat-grid-list>
<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile class="profileInfo">
        <h1>
            <p>
                Developer <br> Cofounder <br> Diegownn
            </p>
        </h1>



    </mat-grid-tile>
    <mat-grid-tile>
        Developer Co-founder Depi

    </mat-grid-tile>
    <mat-grid-tile>
        Designer Mauri

    </mat-grid-tile>
    <mat-grid-tile>
        Community Manager Fico

    </mat-grid-tile>
</mat-grid-list>

Anashei