<h1>Team</h1>
<mat-grid-list cols="4" rowHeight="500px">
    <mat-grid-tile>
        <a><img src="../../../assets/zeus.jpg" /></a>
    </mat-grid-tile>

    <mat-grid-tile>
        <a><img src="../../../assets/Poseidon.jpg" /></a>

    </mat-grid-tile>
    <mat-grid-tile>
        <a><img src="../../../assets/Apolo.jpg" /></a>

    </mat-grid-tile>
    <mat-grid-tile>
        <a><img src="../../../assets/aquiles.jpg" /></a>

    </mat-grid-tile>
    <mat-grid-tile>
        Nombre

    </mat-grid-tile>
    <mat-grid-tile>
        Nombre

    </mat-grid-tile>
    <mat-grid-tile>
        Nombre

    </mat-grid-tile>
    <mat-grid-tile>
        Nombre

    </mat-grid-tile>
</mat-grid-list>