@import "~swiper/css";
@import "~swiper/css/zoom";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";
@import "~swiper/css/free-mode";

.swiper {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.gallery_master_container {
  margin-top: 199px;
}

.gallery_master_container .swiper-pointer-events {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.gallery_master_container .swiper-pointer-events .swiper-wrapper {
  height: 70%;
}

.gallery_master_container .swiper-pointer-events .swiper-pagination-horizontal {
  top: 698px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(0, 0, 0, 0);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  max-height: max-content !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
