<br>
<br>
<br>


<swiper [slidesPerView]="3" [spaceBetween]="30" [freeMode]="true" [zoom]="true" [pagination]="{
      clickable: true
    }" class="mySwiper">
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="https://static2.abc.es/media/historia/2020/12/28/esparta-k3gF--620x349@abc.jpg" />
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="https://i.pinimg.com/474x/41/e0/70/41e070acd0187b1e2e6db2c4634c0a13.jpg" />
        </div>
    </ng-template>
    <ng-template swiperSlide>

        <div class="swiper-zoom-container">
            <img src="https://i.pinimg.com/736x/7a/36/a4/7a36a4cd16555e2b76de636901de3f73.jpg" />
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="https://cdn.shopify.com/s/files/1/0466/9292/5593/products/00013831p.png?v=1625804837" />
        </div>
    </ng-template>
    <ng-template swiperSlide>

        <div class="swiper-zoom-container">
            <img src="https://www.diarioshow.com/__export/1601055628463/sites/cronica/img/2020/09/25/adabel_guerrero_en_la_ducha.jpg_1131826337.jpg" />
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="https://slm-assets.secondlife.com/assets/15091717/view_large/13.jpg?1474264736" />
        </div>
    </ng-template>
</swiper>