<div class="header">
    <div class="container">
        <div class="row">

            <mat-grid-list cols="3" rowHeight="100%">
                <mat-grid-tile>
                    <div class="logo">
                        <a href="#mainPosition"><img src="../../../assets/logoson.jpeg" /></a>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#lorePosition"> Lore </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#sonsPosition"> Sons </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#roadmapPosition">Roadmap</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#teamPosition">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#FaQsPosition">FAQ</a>
                        </li>
                    </ul>
                </mat-grid-tile>
                <mat-grid-tile>
                    ES🧨
                </mat-grid-tile>
            </mat-grid-list>

        </div>
    </div>

</div>