<div class="faq_master_container">
  <div class="faq_container">
    <div class="title">FaQs</div>
    <div class="categories" id="categories">
      <div class="category  active" (click)="activedCategory='Dates'" >
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" ><path d="M24 23h-24v-19h4v-3h4v3h8v-3h4v3h4v19zm-1-15h-22v14h22v-14zm-16.501 8.794l1.032-.128c.201.93.693 1.538 1.644 1.538.957 0 1.731-.686 1.731-1.634 0-.989-.849-1.789-2.373-1.415l.115-.843c.91.09 1.88-.348 1.88-1.298 0-.674-.528-1.224-1.376-1.224-.791 0-1.364.459-1.518 1.41l-1.032-.171c.258-1.319 1.227-2.029 2.527-2.029 1.411 0 2.459.893 2.459 2.035 0 .646-.363 1.245-1.158 1.586.993.213 1.57.914 1.57 1.928 0 1.46-1.294 2.451-2.831 2.451-1.531 0-2.537-.945-2.67-2.206zm9.501 2.206h-1.031v-6.265c-.519.461-1.354.947-1.969 1.159v-.929c1.316-.576 2.036-1.402 2.336-1.965h.664v8zm7-14h-22v2h22v-2zm-16-3h-2v2h2v-2zm12 0h-2v2h2v-2z"/></svg>
        <p>Dates</p>
      </div>
      <div class="category" (click)="activedCategory='Mint'">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" ><path d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>
        <p>Mint</p>
      </div>
      <div class="category" (click)="activedCategory='Security'" >
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" ><path d="M12 0c-3.371 2.866-5.484 3-9 3v11.535c0 4.603 3.203 5.804 9 9.465 5.797-3.661 9-4.862 9-9.465v-11.535c-3.516 0-5.629-.134-9-3zm0 1.292c2.942 2.31 5.12 2.655 8 2.701v10.542c0 3.891-2.638 4.943-8 8.284-5.375-3.35-8-4.414-8-8.284v-10.542c2.88-.046 5.058-.391 8-2.701zm5 7.739l-5.992 6.623-3.672-3.931.701-.683 3.008 3.184 5.227-5.878.728.685z"/></svg>
        <p>Security</p>
      </div>
      <div class="category" (click)="activedCategory='Development'">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 10.935v2.131l-8 3.947v-2.23l5.64-2.783-5.64-2.79v-2.223l8 3.948zm-16 3.848l-5.64-2.783 5.64-2.79v-2.223l-8 3.948v2.131l8 3.947v-2.23zm7.047-10.783h-2.078l-4.011 16h2.073l4.016-16z"/></svg>
        <p>Development</p>
      </div>
    </div>

    <div class="preguntas">
            
      <!-- Date questions -->
      <div class="contenedor-preguntas activo" *ngIf="activedCategory == 'Dates'" >
         <div class="contenedor-pregunta">
            <p class="pregunta">¿When is the mint date? <img src="../../../assets/suma.png" alt="+"/></p>
            <p class="respuesta">The mint date will be on January 24th</p>
         </div>
         <div class="contenedor-pregunta">
            <p class="pregunta">When is the white list mint? <img src="../../../assets/suma.png" alt="+" /></p>
            <p class="respuesta">We will share the link through the discord with the people who are there.</p>
         </div>
      </div>

      <!-- Mint questions -->
      <div class="contenedor-preguntas" *ngIf="activedCategory == 'Mint'">
         <div class="contenedor-pregunta">
            <p class="pregunta">Where is the mint? <img src="../../../assets/suma.png" alt="+" /></p>
            <p class="respuesta">The link of the mint page will be shared in our official discord and twitter when the timer hit 0: 0: 0: 0</p>
         </div>
         <div class="contenedor-pregunta">
            <p class="pregunta">What wallet can I use for the mint? <img src="../../../assets/suma.png" alt="+" /></p>
            <p class="respuesta">You can use Phantom wallet</p>
         </div>
      </div>

      <!-- Preguntas Seguridad -->
      <div class="contenedor-preguntas" *ngIf="activedCategory == 'Security'">
         <div class="contenedor-pregunta">
            <p class="pregunta">How can I know that you are reliable? <img src="../../../assets/suma.png" alt="+" /></p>
            <p class="respuesta">The entire team of this project is sharing who each one is in real life, in this way we intend to take responsibility for what happens with this project.</p>
         </div>
         <div class="contenedor-pregunta">
            <p class="pregunta">How can I protect my money on the chaotic mint day?<img src="../../../assets/suma.png" alt="+" /></p>
            <p class="respuesta">We highly recommend to make a burn wallet, it is just a wallet with the amount of the price of all NFTs that you will mint and the gas fees for all the transactions.</p>
         </div>
      </div>

      <!-- develop questions -->
      <div class="contenedor-preguntas" *ngIf="activedCategory == 'Development'">
         <div class="contenedor-pregunta">
            <p class="pregunta">On which blockchain the NFTs are on? <img src="../../../assets/suma.png" alt="+" /></p>
            <p class="respuesta">These collection and the upcoming will exist in solana network.</p>
         </div>
         <div class="contenedor-pregunta">
            <p class="pregunta">How are made the sons of gods? <img src="../../../assets/suma.png" alt="+" /></p>
            <p class="respuesta">Our professional designer made the layers in Blender, ..., ... and our programmers mixed it with a custom candy machine, except for the gods who are made manually each of them.</p>
         </div>
      </div>
    </div>
  </div>
</div>
