<div class="banner_container">
  <!-- <mat-grid-list cols="1">
    <mat-grid-tile class="banner"> -->
  <img class="banner" src="../../../assets/banner.jpg" />
  <div class="banner_content_container">
    <div class="logo_banner_container">
      <img
        class="logo_img"
        src="../../../assets/logo_gold.png"
        alt=""
      />
    </div>
    <div class="timeCounter">
      <ctimer-countdown-timer
        [finishDateString]="'2025-03-19 21:09:09'"
      ></ctimer-countdown-timer>
    </div>
  </div>
  <!-- </mat-grid-tile>
  </mat-grid-list> -->
</div>
