<div class="banner_container">
    <div class="row">
        <mat-grid-list cols="2" rowHeight="100%">
            <mat-grid-tile>
                <div class="logoBanner">
                    <a href="#mainPosition"><img src="../../../assets/banner.jpg" /></a>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <ctimer-countdown-timer [finishDateString]="'2022-02-09 21:09:09'"></ctimer-countdown-timer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>