.banner_container {
  width: 100%;
}

.mat-grid-tile {
  width: 100%;
}

.mat-grid-tile-content {
  width: 100%;
}

.banner_container img {
  height: auto;
  margin-top: 100px;
  width: 100% !important;
  z-index: -10;
}

.row {
  position: absolute;
  z-index: 50;
}

.timeCounter {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -350px;
  z-index: 50;
}
