.mat-grid-tile {
  width: 100%;
}

.mat-grid-tile-content {
  width: 100%;
}

.logoBanner img {
  height: auto;
  margin-top: 100px;
  width: 100%;
  z-index: 50;
  z-index: -10;
  width:1748px;
  border: solid rgba(#000, 0.2);
}

.logoBanner {
  z-index: 0;
}

.row {
  position: absolute;
  z-index: 50;
}

.timeCounter {
  z-index: 1000000000;
  transform: translatex(650px) translatey(-300px);
}
