<swiper [navigation]="true" class="mySwiper"
[slidesPerView]="'auto'"
    [spaceBetween]="600"
    [pagination]="{
        clickable: true
      }">
    <ng-template swiperSlide id="carta"> Al comienzo, todo el espacio tiempo era caos.
        Nuestro universo fue forjado por un evento hasta el momento indescifrable. Éste desprendió la suficiente energía
        para idear a doce deidades diferentes. Fue así como nacieron los doce grandes creadores.
        Estos seres de incalculable poder, ambiguos rasgos físicos y una inteligencia capaz de lograr lo inimaginable, fueron
        lo que comenzaron nuestra historia. Los doce grandes vagaban sin una razón de ser por las diferentes galaxias, no
        tenían objetivos, solo contaban con ellos mismos, el aburrimiento y la soledad. Fueron estos sentimientos los que
        despertaron el interés de organizarse, crearon nuestro sistema planetario y se enfocaron en nuestro mundo.</ng-template
    ><ng-template swiperSlide>En una
        primera instancia crearon a los humanos, los organizaron en forma pacífica y los dividieron en doce grandes
        civilizaciones diferentes. Organizaron el tiempo, definieron criterios y límites del mismo. A su vez, cada uno de ellos
        se adjudicó dimensiones, sentimientos y magnitudes únicas. Uno de ellos se apoderó del miedo, otro del tiempo. El ego
        también fue seleccionado, al igual que el orden y el destino. Pero no todas las deidades primordiales revelaron su
        cualidad, estas se mantuvieron en total secreto y hasta el día de hoy se desconoce sobre ellas.
        Este acuerdo es conocido hasta el día de hoy como el juramento universal.</ng-template
    ><ng-template swiperSlide>Slide 3</ng-template
    ><ng-template swiperSlide>Slide 4</ng-template
    ><ng-template swiperSlide>Slide 5</ng-template
    ><ng-template swiperSlide>Slide 6</ng-template
    ><ng-template swiperSlide>Slide 7</ng-template
    ><ng-template swiperSlide>Slide 8</ng-template
    ><ng-template swiperSlide>Slide 9</ng-template>
  </swiper>

  