<div class="lore_master_container">
  <div class="title">{{'lore' | translate}}</div>

  <swiper
    [navigation]="true"
    class="mySwiper"
    [slidesPerView]="2"
    [spaceBetween]="100"
    [pagination]="{
      clickable: true
    }"
    [scrollbar]="{ draggable: true }"
  >
    <ng-template swiperSlide>
      <!-- {{'Al comienzo, todo el espacio tiempo era caos. Nuestro universo fue forjado' | translate}}
      {{'por un evento hasta el momento indescifrable. Éste desprendió la' | translate}}
      {{'suficiente energíapara idear a doce deidades diferentes. Fue así como' | translate}}
      {{'nacieron los doce grandes creadores. Estos seres de incalculable poder,' | translate}}
      {{'ambiguos rasgos físicos y una inteligencia capaz de lograr lo' | translate}}
      {{'inimaginable, fueronlo que comenzaron nuestra historia. Los doce grandes' | translate}}
      {{'vagaban sin una razón de ser por las diferentes galaxias, notenían' | translate}}
      {{'objetivos, solo contaban con ellos mismos, el aburrimiento y la' | translate}}
      {{'soledad. Fueron estos sentimientos los quedespertaron el interés de organizarse,' | translate}}
      {{'crearon nuestro sistema planetario y se enfocaron en nuestro mundo.' | translate}} -->
      
      {{'In the beginning, all space-time was chaos. Our universe was forged' | translate}}
       {{'by a hitherto indecipherable event. This one detached the' | translate}}
       {{'enough energy to devise twelve different deities. It was like this' | translate}}
       {{'the twelve great creators were born. These beings of incalculable power,' | translate}}
       {{'ambiguous physical traits and an intelligence capable of achieving it' | translate}}
       {{'unimaginable, they were what started our story. The Big Twelve' | translate}}
       {{'they wandered without a reason to be through the different galaxies, they didn not have' | translate}}
       {{'objectives, they only had themselves, boredom and ' | translate}}
       {{'loneliness. It was these feelings that sparked interest in organizing,' | translate}}
       {{'they created our planetary system and focused on our world.' | translate}}</ng-template
    >
    <ng-template swiperSlide> 
      <!-- {{'En una primera instancia crearon a los humanos, los organizaron en forma' | translate}}
      {{'pacífica y los dividieron en doce grandescivilizaciones diferentes.' | translate}}
      {{'Organizaron el tiempo, definieron criterios y límites del mismo. A su vez,' | translate}}
      {{'cada uno de ellosse adjudicó dimensiones, sentimientos y magnitudes' | translate}}
      {{'únicas. Uno de ellos se apoderó del miedo, otro del tiempo. El egotambién' | translate}}
      {{'fue seleccionado, al igual que el orden y el destino. Pero no todas las' | translate}}
      {{'deidades primordiales revelaron sucualidad, estas se mantuvieron en total' | translate}}
      {{'secreto y hasta el día de hoy se desconoce sobre ellas. Este acuerdo es' | translate}}
      {{'conocido hasta el día de hoy como el juramento universal.' | translate}} -->
      
      {{'In the first instance they created humans, they organized them in the form' | translate}}
       {{'peaceful and divided them into twelve different great civilizations.' | translate}}
       {{'They organized time, defined its criteria and limits. In turn,' | translate}}
       {{'each one of them was awarded dimensions, feelings and magnitudes' | translate}}
       {{'unique. One of them took over fear, another time. The ego too' | translate}}
       {{'was selected, just like order and fate. But not all' | translate}}
       {{'primordial deities revealed their quality, these remained in total' | translate}}
       {{'secret and to this day nothing is known about them. This agreement is' | translate}}
       {{'known to this day as the universal oath.' | translate}}</ng-template
    >
    <ng-template swiperSlide>
      <!-- {{'Nuestras tierras fueron habitadas en su totalidad. El pacto fue respetado' | translate}}
      {{'a lo largo de los siglos, lo que permitió unaconvivencia pacífica entre' | translate}}
      {{'las distintas civilizaciones. Con similares rasgos, notoria falta de' | translate}}
      {{'gracia y con unfuncionamiento casi idéntico, solo bastó un poco de tiempo' | translate}}
      {{'para aburrir a las deidades. En un nuevo pacto, los creadores acordaron' | translate}}
      {{'renunciar a su poder absoluto y otorgar a los humanos el libre' | translate}}
      {{'albedrío.Los nuevos humanos, ante esta nueva libertad asumieron como' | translate}}
      {{'propias las diferentes dimensiones, sentimientos ymagnitudes. El amor, el' | translate}}
      {{'odio y la fe cambiaron completamente su naturaleza.' | translate}} -->

      {{'Our lands were fully inhabited. The pact was respected' | translate}}
       {{'throughout the centuries, which allowed a peaceful coexistence between' | translate}}
       {{'the different civilizations. With similar features, notorious lack of' | translate}}
       {{'thank you and with an almost identical operation, it only took a little time' | translate}}
       {{'to bore the deities. In a new pact, the creators agreed' | translate}}
       {{'give up their absolute power and grant humans the free' | translate}}
       {{'will. The new humans, faced with this new freedom, assumed as' | translate}}
       {{'own the different dimensions, feelings and magnitudes. The love, the' | translate}}
       {{'hatred and faith completely changed his nature.' | translate}}
    </ng-template>
    <ng-template swiperSlide>
      <!-- {{'Estas últimas tres fueron las quedieron comienzo a los conflictos' | translate}}
      {{'transformando a las pacificas civilizaciones en imperios de gran temer. La' | translate}}
      {{'fe de los humanos les permitió acceder a nuevas deidades de diferentes' | translate}}
      {{'características y poderes, convirtiendo aldestino en el concepto más' | translate}}
      {{'poderoso de todos. Cada uno de los imperios intermedió su fe en un símbolo' | translate}}
      {{'y este significóla razón por la cual vivir. Al cabo de un tiempo, estos' | translate}}
      {{'nuevos dioses desplazaron a los grandes creadores y hasta el día de hoy se' | translate}}
      {{'desconoce suparadero. El juramento universal tal como lo conocíamos ya no' | translate}}
      {{'existe. ¿Estás listo para arriesgar tu fe? Sumérgete en la historia y' | translate}}
      {{'conviértete en un hijo de los dioses.' | translate}} -->
      
      {{'These last three were the ones that started the conflicts' | translate}}
       {{'transforming peaceful civilizations into empires of great fear. the' | translate}}
       {{'faith of the humans allowed them access to new deities of different' | translate}}
       {{'characteristics and powers, turning destiny into the most' | translate}}
       {{'mighty of all. Each of the empires mediated their faith in a symbol' | translate}}
       {{'and this meant the reason to live. After a while, these' | translate}}
       {{'new gods displaced the great creators and to this day they' | translate}}
       {{'His whereabouts are unknown. The universal oath as we knew it is no longer' | translate}}
       {{'exists. Are you ready to risk your faith? Immerse yourself in history and' | translate}}
       {{'become a son of the gods.' | translate}}</ng-template
    >
  </swiper>

  <div class="player_container">
    <ngx-audio-player
      class="player"
      [playlist]="msaapPlaylist"
      [displayTitle]="msaapDisplayTitle"
      [autoPlay]="false"
      muted="muted"
      [displayPlaylist]="msaapDisplayPlayList"
      [pageSizeOptions]="msaapPageSizeOptions"
      [displayArtist]="msaapDisplayArtist"
      [displayDuration]="msaapDisplayDuration"
      [expanded]="false"
      [displayVolumeControls]="msaapDisplayVolumeControls"
      [displayRepeatControls]="msaapDisplayRepeatControls"
      [disablePositionSlider]="msaapDisablePositionSlider"
    ></ngx-audio-player>
  </div>
</div>
