<div class="lore_master_container">
  <div class="title">Lore</div>

  <swiper
    [navigation]="true"
    class="mySwiper"
    [slidesPerView]="1"
    [spaceBetween]="200"
    [pagination]="{
      clickable: true
    }"
  >
    <ng-template swiperSlide id="carta">
      Al comienzo, todo el espacio tiempo era caos. Nuestro universo fue forjado
      por un evento hasta el momento indescifrable. Éste desprendió la
      suficiente energíapara idear a doce deidades diferentes. Fue así como
      nacieron los doce grandes creadores. Estos seres de incalculable poder,
      ambiguos rasgos físicos y una inteligencia capaz de lograr lo
      inimaginable, fueronlo que comenzaron nuestra historia. Los doce grandes
      vagaban sin una razón de ser por las diferentes galaxias, notenían
      objetivos, solo contaban con ellos mismos, el aburrimiento y la soledad.
      Fueron estos sentimientos los quedespertaron el interés de organizarse,
      crearon nuestro sistema planetario y se enfocaron en nuestro mundo. En
      unaprimera instancia crearon a los humanos, los organizaron en forma
      pacífica y los dividieron en doce grandescivilizaciones diferentes.
      Organizaron el tiempo, definieron criterios y límites del mismo. A su vez,
      cada uno de ellosse adjudicó dimensiones, sentimientos y magnitudes
      únicas. Uno de ellos se apoderó del miedo, otro del tiempo. El egotambién
      fue seleccionado, al igual que el orden y el destino. Pero no todas las
      deidades primordiales revelaron sucualidad, estas se mantuvieron en total
      secreto y hasta el día de hoy se desconoce sobre ellas. Este acuerdo es
      conocido hasta el día de hoy como el juramento universal.</ng-template
    ><ng-template swiperSlide
      >Nuestras tierras fueron habitadas en su totalidad. El pacto fue respetado
      a lo largo de los siglos, lo que permitió unaconvivencia pacífica entre
      las distintas civilizaciones. Con similares rasgos, notoria falta de
      gracia y con unfuncionamiento casi idéntico, solo bastó un poco de tiempo
      para aburrir a las deidades. En un nuevo pacto, los creadores acordaron
      renunciar a su poder absoluto y otorgar a los humanos el libre
      albedrío.Los nuevos humanos, ante esta nueva libertad asumieron como
      propias las diferentes dimensiones, sentimientos ymagnitudes. El amor, el
      odio y la fe cambiaron completamente su naturaleza. Estas últimas tres
      fueron las quedieron comienzo a los conflictos transformando a las
      pacificas civilizaciones en imperios de gran temer. La fe de los humanos
      les permitió acceder a nuevas deidades de diferentes características y
      poderes, convirtiendo aldestino en el concepto más poderoso de todos. Cada
      uno de los imperios intermedió su fe en un símbolo y este significóla
      razón por la cual vivir. Al cabo de un tiempo, estos nuevos dioses
      desplazaron a los grandes creadores y hasta el día de hoy se desconoce
      suparadero. El juramento universal tal como lo conocíamos ya no existe.
      ¿Estás listo para arriesgar tu fe? Sumérgete en la historia y conviértete
      en un hijo de los dioses.</ng-template
    >
  </swiper>

  <div class="player_container">
    <ngx-audio-player
      class="player"
      [playlist]="msaapPlaylist"
      [displayTitle]="msaapDisplayTitle"
      [autoPlay]="false"
      muted="muted"
      [displayPlaylist]="msaapDisplayPlayList"
      [pageSizeOptions]="msaapPageSizeOptions"
      [displayArtist]="msaapDisplayArtist"
      [displayDuration]="msaapDisplayDuration"
      [expanded]="false"
      [displayVolumeControls]="msaapDisplayVolumeControls"
      [displayRepeatControls]="msaapDisplayRepeatControls"
      [disablePositionSlider]="msaapDisablePositionSlider"
    ></ngx-audio-player>
  </div>
</div>
